.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebarcss {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
  min-width: 30rem;
}

.reactions {
  width: 100%;
  margin: 15px 0 0 0;
}

.hashtag {
  margin: 0px 3px;
}

.create-post {
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
}

.welcome-msg {
  margin: 100px 0;
}

.spinner {
  margin: 10% 0;
}