.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebarcss {
  min-height: 800px;
}

.post-card {
  margin: 20px 50px;
  min-width: 30rem;
}

.reactions {
  width: 100%;
  margin: 15px 0 0 0;
}

.hashtag {
  margin: 0px 3px;
}